[Unit]
Description=Publish HP RAID health to MQTT
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/default/hp-raid-mqtt
ExecStart=/usr/local/bin/hp-raid-status-push-mqtt.sh

[Install]
WantedBy=multi-user.target

